<ul>
  <% if Admin::BannersController.searchable? %>
    <li>
      <%= render :partial => "/shared/admin/search",
                  :locals => {
                    :url => admin_banners_path
                  } %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), new_admin_banner_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? and Admin::BannersController.sortable? and Banner.count > 1 %>
  <li>
    <%= link_to t('.reorder', :what => "Banners"),
                 admin_banners_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Banners"),
                 admin_banners_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>