<% content_for :body_content_left do %>
  <ul id="banners">
    <% @banners.each do |banner| %>
      <li>
        <%= link_to banner.name, banner_path(banner) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render :partial => "/shared/content_page" %>
